<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Doctor verification</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Number of pending payments
                                    </h5>
                                    <span class="h2 font-weight-bold mb-0">{{nbrPendingPayment}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="fas fa-hourglass-half"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Number of payments</h5>
                                    <span class="h2 font-weight-bold mb-0">{{nbrPaid}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                        <i class="fas fa-check"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body text-center" *ngIf="appointments">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Doctor</th>
                                <th>Patient</th>
                                <th>Disease</th>
                                <th>Appointment time</th>
                                <th>Consultation charges</th>
                                <th>Received payment</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let appointment of appointments">
                            <td>{{appointment.doctor?.firstname}} {{appointment.doctor?.lastname}}</td>
                            <td>{{appointment.patient?.firstname}} {{appointment.patient?.lastname}}</td>
                            <td>{{appointment.diseaseName}}</td>
                            <td>{{appointment.appointmentTime | date: 'short'}}</td>
                            <td>{{appointment.price}}</td>
                            <td>{{appointment.paidInAdvance || appointment.payment.isPaid ? 'Yes': 'No'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>