<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Doctor verification</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Card stats -->
            <div class="row" *ngIf="pendingVerification">
                <div class="col-xl-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Doctors pending verification
                                    </h5>
                                    <span class="h2 font-weight-bold mb-0">{{pendingVerification.length}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="fas fa-hourglass-half"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Doctors verified</h5>
                                    <span class="h2 font-weight-bold mb-0">{{totalDoctors}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                        <i class="fas fa-check"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="h3 mb-0">Doctors pending verification</h5>
                </div>
                <div class="card-body" *ngIf="pendingVerification">
                    <!-- Comments -->
                    <div class="mb-1" *ngFor="let doctor of pendingVerification">
                        <div class="media media-comment" *ngIf="doctor">
                            <img *ngIf="doctor.profileImage" alt="Issue reporter profile image"
                                class="avatar avatar-lg media-comment-avatar rounded-circle"
                                src="{{getProfileImageLink(doctor.id)}}">
                            <div class="media-body">
                                <div class="media-comment-text">
                                    <h6 class="h5 mt-0">{{doctor.firstname}} {{doctor.lastname}}, <p
                                            class="text-sm display-inline">{{doctor.speciality}}</p>
                                    </h6>
                                    <h6 class="h3 mt-0">Doctor information:</h6>
                                    <ul>
                                        <li>License number: {{doctor.licenseNumber}}</li>
                                        <li>Date of graduation: {{doctor.dateOfGraduation | date}}</li>
                                    </ul>
                                    <hr>
                                    <h6 class="h3 mt-0">Personal information:</h6>
                                    <ul>
                                        <li>{{doctor.email}}, phone: {{doctor.phone}}</li>
                                        <li>{{doctor.address}}, {{doctor.city}}</li>
                                        <li>Date of graduation: {{doctor.dateOfBirth | date}}</li>
                                    </ul>
                                    <hr *ngIf="doctor.attachments.length > 0">
                                    <div *ngFor="let attachment of doctor.attachments">
                                        <a class="attachment" [routerLink]=""
                                            (click)="downloadFile(doctor.id, attachment)">
                                            <i class="far fa-file text-muted"></i>
                                            <span class="text-muted"> {{attachment}}</span>
                                        </a>
                                    </div>
                                    <hr>
                                    <div class="icon-actions">
                                        <a [routerLink]="" class="like" (click)="verifyDoctor(doctor.id)">
                                            <i class="ni ni-like-2 text-muted"></i>
                                            <span class="text-muted">Accept</span>
                                        </a>
                                        <a [routerLink]="" (click)="deleteDoctor(doctor.id)">
                                            <i class="fas fa-times text-muted"></i>
                                            <span class="text-muted">Delete</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>