/* You can add global styles to this file, and also import other style files */
section {
    height: 100vh !important;
    width: 100vw !important;
}

.hidden {
    display: none;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}
